<h1 appColor>{{'About page' | pageName }}</h1>

<button class="btn" (click)="read = true">Mark as read</button>
<p [ngStyle]="{color: read ? 'blue' : null}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, magnam!</p>

<p><a [routerLink]="['/about', 'extra']">Show more...</a></p>
<p><a [routerLink]="['/about']">Hide more...</a></p>

<router-outlet></router-outlet>

