<nav class="navbar">
  <h1>
    <a [routerLink]="['/']">Angular - Интеграционное тестирование</a>
  </h1>
  <ul>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a [routerLink]="['/']">Home</a>
    </li>
    <li routerLinkActive="active"><a [routerLink]="['/posts']" *ngIf="auth.isAuth">Posts</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/about']">About</a></li>
    <li><button class="btn" (click)="auth.login()" *ngIf="!auth.isAuth">Login</button></li>
    <li><button class="btn" (click)="auth.logout()" *ngIf="auth.isAuth">Logout</button></li>
  </ul>
</nav>

<main class="container">
  <div class="card">

    <router-outlet></router-outlet>

  </div>
</main>



