<div class="backdrop"></div>

<div class="modal">
  <nav class="navbar">
    <h3>{{ title }}</h3>
  </nav>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, praesentium.</p>

  <button class="btn" (click)="close.emit()">Close</button>
</div>
