<h1 appColor>{{ 'Home page' | pageName }}</h1>

<div class="container">
  <div class="card">
    <h2>Some content</h2>
    <button class="btn" (click)="showModal()">Show modal</button>
    <ng-template appRef></ng-template>
  </div>
  <button class="btn" (click)="goToPostsPage()" [ngClass]="{'disabled' : !auth.isAuth}">Go to Posts (Private)</button>
</div>
